html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
		background-color: white;
		border: 2px solid black;
		position: fixed;
}
body {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	/*font-family: "Lucida Console", Monaco, monospace;*/
	font-family: Impact, Charcoal, sans-serif;
	/*background-image: -webkit-linear-gradient(45deg,#39cccc,rgba(0,255,127,.7));*/
	/*background-image: linear-gradient(45deg,#39cccc,rgba(0,255,127,.7));*/

  margin: 0 0 100px; /* bottom = footer height */
}
input {
	font-size: 20px;
	text-align: center;
	margin-right: 10px;
	/*border: none;*/
	color: transparent;
	text-shadow: 0 0 0 gray;
	/*text-align: center;*/
	&:focus {
			outline: none;
			color: transparent;
	}
}
/* webkit */
/*::-webkit-input-placeholder {*/
	/*text-align:left;*/
/*}*/
/* mozilla */
/*input:-moz-placeholder {*/
	 /*text-align:left;*/
 /*}*/
#info {
	display: none;
	align-items: center;
	text-align: center;
}
input, p {
	width: 90%;
	margin-bottom: 10px;
	margin-top: 0;
}
#progress{
	display: none;
	/*align-items: center;*/
	padding-top: 10px;
	position: absolute;
	top: 10px;
	right: 100px;
}
@media (min-width: 500px) {
	input, p {
		width: 200px;
    margin-top: 10px;
    margin-left: 10px;
	}
}
#search-query {
	margin-left: 10px;
}
#title {
	margin-left: 10px;
}
#controls {
	z-index: 1000;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	position: absolute;
	top: 10px;

}
#artwork {
	margin-top: 10px;
	margin-bottom: 10px;
}
#seekbar {
	width:400px;
	/*float: right;*/
}
#next-page {
	text-align: right;
	visibility: hidden;
}
#previous-page {
	display: none;
}
#volume-bar {
	width: 70px;
	margin-left: 10px;
}
#nav {
	width: 100%;
	font-size: 2em;
	/*font-family: cursive;*/
}
#playlist {
	/*padding: 0;*/
}
.playlist-container {
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 10px;
}
#playlist > .track {
	display: inline-block;
}
.track {
	margin-right: 5px;
	margin-bottom: 2px;
	position: relative;
	width: 200px;
	height: 260px;
	border: 2px solid black;
	background-position: center 5px;
	background-repeat:  no-repeat ;
	background-size: 180px 180px;
}
.track:hover, #playing {
	border: 2px solid orange;
}
#paused {
	border: 2px solid red;
}
.track > img {
	background-position: no-repeat center 5px;
	background-repeat: no-repeat;
	position: absolute;
	left: 10px;
	top: 5px;
}
.track > .song-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 65px;
	text-align: center;
	overflow: scroll;
}
.track > .user {
	background-color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 27px;
	text-align: center;
	overflow: scroll;
}
.song-info > a {
	color: black;
	text-decoration: none;
	/*font-family: Impact, Charcoal, sans-serif;*/
}
