body {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*font-family: sans-serif;*/

	/*background-image: -webkit-linear-gradient(45deg,#39cccc,rgba(0,255,127,.7));*/
	/*background-image: linear-gradient(45deg,#39cccc,rgba(0,255,127,.7));*/


	font-family: "Lucida Console", Monaco, monospace;
}
input {
	font-size: 20px;
	text-align: center;

	/*border: none;*/
	color: transparent;
	text-shadow: 0 0 0 gray;
	text-align: center;

	&:focus {
			outline: none;
			color: transparent;
	}

}
/* webkit */
::-webkit-input-placeholder {
	text-align:left;
}
/* mozilla */
input:-moz-placeholder {
	 text-align:left;
 }
#info {
	display: none;
	align-items: center;
	text-align: center;
}
input, p {
	width: 90%;
	margin-bottom: 10px;
	margin-top: 0;
}
#progress{
	display: none;
	align-items: center;
	padding-top: 10px;
}
@media (min-width: 500px) {
	input, p {
		width: 500px;
	}
}
#playlist{
	text-align: center;
	list-style-type: none;
}
#controls {
	z-index: 1000;
	margin-top: 10px;
	margin-bottom: 10px;
}
#artwork {
	margin-top: 10px;
	margin-bottom: 10px;
}
.playing > a{
	background-color: lightblue;
}
#seekbar {
	width:400px;
}
#next-page {
	text-align: right;
	visibility: hidden;
}
#previous-page {
	display: none;
}
#volume-bar {
	width: 70px;
}
