body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	/*padding-top: 40px;*/
	/*padding-left: 40px;*/
}
input {
	font-size: 20px;
}
#info {
	display: none;
	align-items: center;
	text-align: center;
}
input, p {
	width: 90%;
	margin-bottom: 10px;
	margin-top: 0;
}
#progress{
	display: none;
	align-items: center;
	padding-top: 10px;
}
@media (min-width: 500px) {
	input, p {
		width: 500px;
	}
}
#playlist{
	text-align: center;
	list-style-type: none;
}
#controls {
	z-index: 1000;
	margin-top: 10px;
	margin-bottom: 10px;
}
#artwork {
	margin-top: 10px;
	margin-bottom: 10px;
}
.playing {
	background-color: orange;
}
#next-page {
	display: none;
}
#seekbar {
	/*display: none;*/
	width:400px;
}
